<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Kids Drawing"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsDrawingArtLab">
        <activity
            android:name=".ProductActivity"
            android:exported="true"
            android:label="Kids Drawing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentLabActivity"
            android:exported="true"
            android:label="Kids Drawing Content Lab" />
        <activity
            android:name=".LessonLabActivity"
            android:exported="true"
            android:label="Kids Drawing Lesson Lab" />
        <activity
            android:name=".QualityLabActivity"
            android:exported="true"
            android:label="Kids Drawing Quality Lab" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Kids Drawing Art Lab" />
    </application>

</manifest>
